//mixin
@mixin border-radius ($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin background-url ($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}